<main class="" id="project">
  <div class="">
    <div class="mb-5">
      <div class="space-y-5">
        <div class="flex flex-col justify-center pt-14 items-center space-y-3">
          <p class="uppercase text-3xl font-bold">Projects</p>
          <p class="underlines"></p>
        </div>
        <div class="text-center">
          <p class="p-8 text-xl text-gray-400">
            Below are few of the projects/apps I have worked in past.
          </p>
        </div>
      </div>

      <div class="mt-10 mb-5" *ngFor="let portfolioInfo of portfolioData;let i=index">
        <div class="flex flex-col lg:flex-row space-y-8 lg:space-y-0 project-item">
          <div class="flex justify-center lg:justify-end lg:w-[50%] img">
            <img
              [src]="portfolioInfo.img"
              alt="projectimg"
            />
          </div>
          <div class="space-y-6 lg:w-[40%] lg:flex lg:flex-col lg:align-middle mydata">
            <div
              class="flex justify-center text-2xl font-bold lg:justify-start"
            >
              <p class="lg:px-8">{{portfolioInfo.title}}</p>
            </div>
            <div class="">
              <p class="px-4 text-md text-gray-400 lg:px-8">
                {{portfolioInfo.data}}
              </p>
            </div>
            <div class="flex justify-center lg:justify-start lg:px-8">
              <button class="px-8 py-5 bg-black text-white font-bold rounded-xl active:scale-50 duration-500">READ MORE</button>
            </div>
          </div>
        </div>
      
    </div>
    </div>
  </div>
</main>
