<main class="bgimage min-h-[1/2] bg-black text-white" id="home">
  <div
    class="flex flex-col justify-center text-center items-center min-h-screen space-y-14 pb-10 pt-10 lg:pb-0 lg:pt-0 lg:space-y-20"
  >
    <div
      class="uppercase flex text-5xl font-extrabold justify-center w-full lg:px-96"
    >
      <p class="myname">
        Hey, I am Harshith <span class="absolute shake-Animation text-4xl">👋</span>
      </p>
    </div>
    <div class="">
      <p class="myname2 text-xl px-20">
        Hey There, I'm a Front-end Developer from India 🇮🇳. I specialize in
        crafting engaging web experiences. Passionate about coding and creating
        user-friendly interfaces for the digital world. I am currently working
        for 99Games in Udupi, India
      </p>
    </div>
    <div class="myname3">
      <div
        class="uppercase px-16 py-5 font-semibold bg-white text-black rounded-xl active:scale-50 duration-500"
      >
        <a href="/project#project">projects</a>
      </div>
    </div>
    <div class="myname4 hidden md:block mouse"></div>
  </div>
</main>
